.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}