.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', 'sans-serif';
}

body {
  height: 100vh;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 8vh;
  -webkit-transition: .6s ease;
  transition: .6s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.header .logo {
  color: #f1f1f1;
  font-family: 'Dancing Script', 'cursive';
  font-size: 2.4em;
  padding: 7.5px;
}

.header .nav {
  background: #e1e1e1;
  height: 92vh;
  width: 250px;
  position: fixed;
  top: 8vh;
  right: 0;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: .6s ease;
  transition: .6s ease;
  border-top: 1px solid rgba(0, 0, 0, 0.75);
  border-left: 1px solid rgba(0, 0, 0, 0.75);
}

.header .nav ul li {
  text-align: center;
  margin: 60px;
  font-size: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.header .nav ul li:hover a {
  color: #282828;
}

.header .nav ul li a {
  color: #2a2a2a;
}

.header .burger {
  margin-right: 10px;
}

.header .burger .line {
  width: 35px;
  margin: 6px;
  height: 5px;
  background: white;
  -webkit-transition: .6s ease;
  transition: .6s ease;
}

.welcome-section {
  height: 65vh;
  width: 100%;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-position: center;
}

.welcome-section .title-container {
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.welcome-section .title-container h2 {
  font-size: 2.2em;
}

.welcome-section .title-container .button {
  padding: 10px 15px;
  color: #fff;
  background: #ae0303;
  border: none;
  font-size: 1.2em;
}

.welcome-section .title-container .button:hover {
  background: #aa0000;
}

.shop-section {
  height: 100vh;
  background: yellow;
  gap: 15px;
}

.shop-section .form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.shop-section .form h3 {
  font-size: 1.1em;
}

.shop-section .products-wrapper {
  background: red;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  -ms-grid-row: 3;
  -ms-grid-row-span: 9;
  grid-row: 3/12;
}

.profile-section {
  height: 100vh;
}

.profile-section .profile-card {
  background: red;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-column: 2/12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 8;
  grid-row: 2/10;
}

.profile-section .socials {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 30px;
}

.active {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
  background: #e1e1e1;
}

.overflow {
  overflow: hidden !important;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

.toggle .line2 {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
          transform: rotate(45deg) translate(-9px, -6px);
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}
/*# sourceMappingURL=main.css.map */